@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-xiq2iv');
	src:url('../fonts/icomoon.eot?#iefix-xiq2iv') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-xiq2iv') format('woff'),
		url('../fonts/icomoon.ttf?-xiq2iv') format('truetype'),
		url('../fonts/icomoon.svg?-xiq2iv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
	content: "\e624";
}
.icon-plus:before {
	content: "\e602";
}
.icon-remove-light:before {
	content: "\e61b";
}
.icon-remove:before {
	content: "\e61c";
}
.icon-pie-chart:before {
	content: "\e61d";
}
.icon-folder-open:before {
	content: "\e61e";
}
.icon-folder-open-light:before {
	content: "\e61f";
}
.icon-copy:before {
	content: "\e620";
}
.icon-folder:before {
	content: "\e621";
}
.icon-richtext:before {
	content: "\e600";
}
.icon-paperclip:before {
	content: "\e601";
}
.icon-expand:before {
	content: "\e603";
}
.icon-heart:before {
	content: "\e604";
}
.icon-menu-dropdown:before {
	content: "\e605";
}
.icon-addressbook-light:before {
	content: "\e606";
}
.icon-star:before {
	content: "\e607";
}
.icon-mail:before {
	content: "\e608";
}
.icon-close:before {
	content: "\e609";
}
.icon-user:before {
	content: "\e619";
}
.icon-close-circle:before {
	content: "\e618";
}
.icon-plus-circle:before {
	content: "\e617";
}
.icon-minus-circle:before {
	content: "\e616";
}
.icon-check:before {
	content: "\e615";
}
.icon-barchart:before {
	content: "\e614";
}
.icon-settings:before {
	content: "\e613";
}
.icon-arrow-quote-right:before {
	content: "\e612";
}
.icon-arrow-right:before {
	content: "\e60e";
}
.icon-arrow-left:before {
	content: "\e60f";
}
.icon-arrow-up:before {
	content: "\e610";
}
.icon-arrow-down:before {
	content: "\e61a";
}
.icon-calendar:before {
	content: "\e60d";
}
.icon-info:before {
	content: "\e60c";
}
.icon-pin:before {
	content: "\e60b";
}
.icon-flag:before {
	content: "\e60a";
}
.icon-message:before {
	content: "\e611";
}
.icon-search:before {
	content: "\e623";
}
